body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: antiquewhite;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="radio"],
  input[type="number"],
  select {
    margin-left: 10px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
}
#ticket{
    background-color: beige;
}
  